#head2{
       text-align: justify;
}
.box1{
       border-bottom: .2px solid rgba(96, 90, 90, 0.16);
}
.box2{
       border-bottom: .2px solid rgba(96, 90, 90, 0.16);
       
}
.box3{
       border: none;
}
a{
       text-decoration: none;
}

@media(max-width:768px){
       .box1 ,.box2,.box3{
              flex-direction: column;
       }
       .foot1{
              flex-direction: column;
              align-items: center;
       }
}