body{
       font-family: 'Roboto', sans-serif;
}

#navBar,.breadcrumb{
       background-color:#1b0b6acf;
}
.navbar-toggler .navbar-toggler-icon {
       display: block;
       width: 20px;
       height: 15px;
       border-radius: 1px;
}
.fa-apple-whole{
       color: #e01414e8;;
}
.box1{
       border-bottom: .2px solid rgba(96, 90, 90, 0.16);
}
.box2{
       border-bottom: .2px solid rgba(96, 90, 90, 0.16);
       
}
.box3{
       border: none;
}
a{
       text-decoration: none;
}
.border_right{
       border-right: 1px solid rgba(128, 128, 128, 0.122);
}
.border_left{
       border-left: 1px solid rgba(128, 128, 128, 0.122);
}
footer{
       background-color: rgba(189, 131, 238, 0.71);
}
.footer-icon{
       color: white;
       background-color: rgb(72, 183, 227);
       border-radius: 50%;
       font-size: 25px;
       padding: 15px;
       margin: 5px;
}
.fa-youtube{
       color: #ff0000;
       background-color: rgba(255, 255, 255, 0.846);
}
.fa-linkedin-in{
       background-color: #007bb5;
       padding: 15px 18px;
}
.fa-facebook-f{
       background-color:#3B5998;
       padding: 15px 20px ;    
}
.fa-google-plus-g{
       background-color: #dd4b39;
}
.fa-envelope{
       color: rgb(53, 184, 248);
       background-color: rgba(255, 255, 255, 0.884);
}
@media(max-width:768px){
       .box1 ,.box2,.box3{
              flex-direction: column;
       }
       .border_right, .border_left{
              border: none;
       }
}